<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EmancipatorBot Stats</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/stats.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
        <script src="/d3pie.min.js"></script>
        <script src="https://www.google.com/jsapi"></script>
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container page-header">
            <h1>User stats for {{username}}</h1>
        </div>
        <div class="panel panel-default votes-panel">
            <h3 class="panel-heading votes-heading">Votes cast</h3>
            <div class="panel-body">
                <p><strong>{{outgoingVotesObj.woots}} woots / {{outgoingVotesObj.mehs}} mehs</strong></p>
                <div id="outgoingVotesPieChart"></div>
                <h3>Top 10 pluggers you vote on</h3>
                <div id="outgoingVotesBarChart"></div>
            </div>
        </div>
        <div class="panel panel-default votes-panel">
            <h3 class="panel-heading votes-heading">Votes received</h3>
            <div class="panel-body">
                <p><strong>{{incomingVotesObj.woots}} woots / {{incomingVotesObj.mehs}} mehs</strong></p>
                <div id="incomingVotesPieChart"></div>
                <h3>Top 10 pluggers who vote on you</h3>
                <div id="incomingVotesBarChart"></div>
            </div>
        </div>
        <br />
        <div class="panel panel-default table-container">
            <h3 class="panel-heading votes-heading">Your play history (links only work for YouTube)</h3>
            <div class="panel-body">
                <div id="playHistoryTable"></div>
            </div>
        </div>

        <script src="/stats.js"></script>
        <script>
            var incomingVotes = {{{incomingVotes}}};
            var outgoingVotes = {{{outgoingVotes}}};

            google.load("visualization", "1.0", { "packages": [ "corechart", "table" ] });
            google.setOnLoadCallback(draw);

            function draw() {
                var outgoingVotesData = {{{outgoingVotesBarGraphData}}};
                var incomingVotesData = {{{incomingVotesBarGraphData}}};
                var plays = convertPlaysToTableFormat({{{plays}}});

                drawPlaysTable(plays, document.getElementById("playHistoryTable"));
                drawVotingBarChart(outgoingVotesData, document.getElementById("outgoingVotesBarChart"));
                drawVotingBarChart(incomingVotesData, document.getElementById("incomingVotesBarChart"));

                function drawPlaysTable(data, element) {
                    var dataTable = new google.visualization.DataTable();
                    dataTable.addColumn("string", "Title");
                    dataTable.addColumn("number", "Plays");
                    dataTable.addColumn("number", "Total woots");
                    dataTable.addColumn("number", "Total mehs");
                    dataTable.addRows(data);

                    var table = new google.visualization.Table(element);
                    table.draw(dataTable, {
                        allowHtml: true,
                        page: "enable",
                        pageSize: 15,
                        showRowNumber: true,
                        sortAscending: false,
                        sortColumn: 1,
                        width: "98%"
                    });

                    // Google's CSS is no good; override an attribute for them
                    function removeOverflow() {
                        $(element).find("div > .top-level").css("overflow", "visible");
                    }

                    removeOverflow();

                    // .. and also do it every time the table redraws
                    google.visualization.events.addListener(table, 'page', removeOverflow);
                    google.visualization.events.addListener(table, 'sort', removeOverflow);
                }

                function drawVotingBarChart(data, element) {
                    var options = {
                        chartArea: {
                            bottom: 0,
                            height: 350,
                            right: 0,
                            top: 30
                        },
                        colors: [ "green", "red" ],
                        legend: { position: "top", maxLines: 1 },
                        hAxis: { viewWindow: {} },
                        height: 400,
                        width: 525,
                        isStacked: true,
                    };

                    var dataTable = google.visualization.arrayToDataTable(data);
                    var dataView = new google.visualization.DataView(dataTable);
                    dataView.setColumns([0, 1, 2]);

                    var chart = new google.visualization.BarChart(element);
                    var maxValue = data.reduce(getMax, 0);

                    options.hAxis.viewWindow.max = maxValue;
                    chart.draw(dataView, options);
                    google.visualization.events.addListener(chart, 'click', onRowSelected);

                    function getMax(max, current) {
                        if (typeof current[1] === "number" && typeof current[2] === "number") {
                            return Math.max(max, current[1] + current[2]);
                        }
                        else {
                            return max;
                        }
                    };

                    function onRowSelected(e) {
                        var parts = e.targetID.split("#");
                        if (parts.length < 3) {
                            return; // they didn't click on a label or bar
                        }

                        var row;

                        // Clicking a bar has the form "bar#col#row"
                        if (parts.length === 3) {
                            row = parts[2];
                        }
                        else if (parts.length === 4) {
                            // Clicking a label has the form "vAxis#col#Label#row", where "Label#" appears to be literal
                            row = parts[3];
                        }

                        // Google's API won't accept a string so convert to number
                        row = +row;

                        window.location = dataTable.getValue(row, 3);
                    }
                }
            }

            createPieCharts(incomingVotes, outgoingVotes);
        </script>
    </body>
</html>
